#rucas * {
  position: absolute; }

#rucas {
  position: relative;
  margin-left: 420px; }
  #rucas .head .blau {
    top: 31px;
    left: 10px;
    width: 280px;
    height: 130px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    transform: rotateX(30deg);
    background-color: #AD7204; }
  #rucas .head .right-burn,
  #rucas .head .left-burn {
    left: 270px;
    top: 150px;
    width: 20px;
    height: 38px;
    background-color: #AD7204; }
  #rucas .head .left-burn {
    left: 10px; }
  #rucas .head .hair-circle {
    width: 180px;
    height: 180;
    border-radius: 90px;
    transform: rotateX(62deg);
    background-color: #AD7204;
    top: -9px;
    left: 63px; }
  #rucas .head .rcede {
    height: 28px;
    width: 18px;
    border-bottom-left-radius: 40px;
    background-color: transparent;
    border-left: 17px solid #AD7204; }
  #rucas .head .lcede {
    height: 28px;
    width: 18px;
    border-bottom-left-radius: 40px;
    background-color: transparent;
    border-left: 17px solid #AD7204; }
  #rucas .head .forehead {
    top: 39px;
    left: 30px;
    width: 240px;
    height: 124px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    transform: rotateX(20deg);
    background-color: #ffe8d5; }
  #rucas .head .face {
    background-color: #ffe8d5;
    width: 280px;
    height: 284px;
    border-radius: 200px;
    left: 10px;
    top: 40;
    box-shadow: inset -10px 0 #fed4b2, inset 6px 0 #FFF6EE; }
  #rucas .head .glasses {
    top: 175; }
    #rucas .head .glasses .rlens {
      width: 50px;
      height: 30px;
      background: #ffe8d5;
      top: 2;
      left: 179;
      z-index: 2;
      border-radius: 50%; }
    #rucas .head .glasses .rframe {
      left: 177;
      top: 0;
      width: 54px;
      height: 34px;
      background: #9E9E9E;
      z-index: 1;
      border-radius: 50%; }
    #rucas .head .glasses .llens {
      background: #ffe8d5;
      width: 50px;
      height: 30px;
      top: 2;
      left: 79;
      z-index: 2;
      border-radius: 50%; }
    #rucas .head .glasses .lframe {
      background: #9E9E9E;
      width: 54px;
      height: 34px;
      left: 77px;
      top: 0px;
      z-index: 1;
      border-radius: 50%; }
    #rucas .head .glasses .nosey-bar {
      left: 125px;
      top: 9px;
      width: 59px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 0px -3px #9E9E9E;
      background-color: transparent; }
  #rucas .head .nosey {
    width: 25px;
    height: 32px;
    background-color: #ffe8d5;
    top: 214;
    left: 152;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 50px;
    box-shadow: inset -4px -2px 0px 0px #fed4b2; }
  #rucas .head .eyeball {
    z-index: 5;
    top: 180px; }
    #rucas .head .eyeball.eyeball-left {
      left: 95px; }
    #rucas .head .eyeball.eyeball-right {
      left: 195px; }
    #rucas .head .eyeball .eb1, #rucas .head .eyeball .eb2, #rucas .head .eyeball .eb3, #rucas .head .eyeball .eb4, #rucas .head .eyeball .eb5, #rucas .head .eyeball .eb6 {
      width: 6px;
      height: 6px; }
    #rucas .head .eyeball .eb1 {
      background-color: #FFF; }
    #rucas .head .eyeball .eb2, #rucas .head .eyeball .eb3, #rucas .head .eyeball .eb4, #rucas .head .eyeball .eb5 {
      background-color: #B0D4DA; }
    #rucas .head .eyeball .eb2 {
      left: 6; }
    #rucas .head .eyeball .eb3 {
      top: 6; }
    #rucas .head .eyeball .eb4 {
      left: 12;
      top: 6; }
    #rucas .head .eyeball .eb5 {
      left: 6;
      top: 12; }
    #rucas .head .eyeball .eb6 {
      background-color: #000;
      left: 6;
      top: 6; }
  #rucas .head .beardy {
    top: 224px;
    left: 42; }
    #rucas .head .beardy .tee {
      border-top: 34px solid #AD7204;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      height: 0;
      width: 19px;
      top: 59px;
      left: 98px; }
    #rucas .head .beardy .stache {
      border-bottom: 16px solid #AD7204;
      border-left: 3px solid transparent;
      border-right: 3px solid transparent;
      border-radius: 50%;
      height: 0;
      width: 56px;
      top: 34px;
      left: 79px;
      box-shadow: 0px -13px #FFE8D5,0px -4px #FFE8D5; }
    #rucas .head .beardy .swizzle-l {
      transform: skewX(-16deg) scaleX(1.05) scaleY(0.8) rotate(14deg); }
    #rucas .head .beardy .swizzle-r {
      top: 28;
      left: 91;
      transform: skewX(16deg) scaleX(1.05) scaleY(0.8) rotate(-14deg); }
      #rucas .head .beardy .swizzle-r .loop1 {
        transform: rotate(-48deg);
        left: 52; }
      #rucas .head .beardy .swizzle-r .loop2 {
        box-shadow: 14px 14px #ffe8d5;
        left: 33; }
      #rucas .head .beardy .swizzle-r .loop3 {
        left: 27; }
      #rucas .head .beardy .swizzle-r .outdiv {
        box-shadow: -7px -6px #FFE8D5;
        left: 45; }
    #rucas .head .beardy .loop1 {
      border-radius: 92% / 92%;
      width: 39px;
      height: 34px;
      background: #ffe8d5;
      left: 44px;
      top: 10;
      transform: rotate(48deg); }
    #rucas .head .beardy .loop2 {
      width: 64px;
      height: 64;
      border-radius: 90px;
      box-shadow: -14px 14px #ffe8d5;
      top: -4px;
      left: 38px; }
    #rucas .head .beardy .loop3 {
      width: 100px;
      height: 120px;
      border-radius: 120px;
      box-shadow: 0px 18px #ffe8d5;
      top: -25px;
      left: 10; }
    #rucas .head .beardy .loop4 {
      width: 120px;
      height: 120px;
      border-radius: 120px;
      border: 8px solid #AD7204; }
    #rucas .head .beardy .circle1 {
      width: 120px;
      height: 120px;
      border-radius: 120px;
      border: 8px solid #AD7204;
      background-color: #AD7204; }
    #rucas .head .beardy .outdiv {
      height: 45px;
      width: 43px;
      border-radius: 28px;
      box-shadow: 7px -6px #FFE8D5;
      left: 48px;
      top: -1px; }
  #rucas .shirt {
    width: 93px;
    height: 30px;
    left: 90px;
    top: 309px;
    background-image: url("../saveme.png");
    background-position-x: 52px;
    background-position-y: 17px;
    background-repeat: no-repeat;
    background-size: 18px auto;
    box-shadow: inset -8px 0 #CECECE, inset 4px 0 #EFEFEF;
    padding: 20px 0 0 27px;
    font-weight: bold;
    font-family: sans-serif; }
  #rucas .shorts {
    width: 110px;
    height: 30px;
    left: 95px;
    top: 359px;
    background-color: #B59F7C;
    box-shadow: inset -8px 0 #9A8158, inset 4px 0 #D8C8B0; }

/*# sourceMappingURL=rucas.css.map */
