#coity * {
    position: absolute;
}

#coity {
    position: relative;
    margin-left: 420px;
    .head {
        .hair {
            .curl {
                height: 28px;
                width: 18px;
                border-bottom-left-radius: 40px;
                background-color: transparent;
                border-left: 17px solid #f2bd5a;
            }
            .curl1 {
                left: 196px;
                top: 81px;
                transform: scaleX(-1) rotate(76deg);
            }
            .curl2 {
                left: 18px;
                top: 74px;
                transform: rotate(87deg);
                height: 41px;
            }
            .curl3 {
                left: 141px;
                top: 21px;
                transform: rotate(-40deg);
            }
            .curl4 {
                left: 214px;
                top: 43px;
                transform: rotate(-66deg);
            }
            .curl5 {
                top: 189;
                left: 27px;
                transform: rotate(-40deg);
            }
            .curl6 {
                top: 262px;
                left: 241px;
                transform: rotate(-144deg) scale(-1);
            }
            .curl7 {
                top: 262px;
                left: 21px;
                transform: scaleY(-1) rotate(204deg);
            }
            .curl8 {
                left: 274px;
                top: 132px;
                transform: rotate(-20deg);
            }
            .blau {
                top: 31px;
                left: 10px;
                width: 280px;
                height: 130px;
                border-top-left-radius: 200px;
                border-top-right-radius: 200px;
                transform: rotateX(30deg);
                background-color: rgb(242, 189, 90);
            }
            .right-burn,
            .left-burn {
                left: 270px;
                top: 150px;
                width: 20px;
                height: 38px;
                background-color: rgb(242, 189, 90);
            }
            .left-burn {
                left: 10px;
            }
            .right {
                transform: scaleX(-1);
                left: 300px;
                top: 9px;
            }
            .left {
                top: 9px;
            }
            .chop {
                height: 27px;
                width: 5px;
                left: 25px;
                top: 220px;
                border-bottom-left-radius: 40px;
                background-color: transparent;
                border-left: 32px solid rgb(242, 189, 90);
                border-bottom: 25px solid rgb(242, 189, 90);
            }
            .trap {
                border-left: 33px solid rgb(242, 189, 90);
                border-top: 39px solid transparent;
                height: 27px;
                left: 58px;
                top: 206px;
            }
            .burn {
                border-right: 30px solid rgba(0, 0, 0, 0);
                border-bottom: 39px solid rgb(242, 189, 90);
                width: 27px;
                left: 10px;
                top: 178px;
                box-shadow: 0px 25px rgb(242, 189, 90);
            }
            .round {
                height: 31px;
                width: 5px;
                left: 54px;
                top: 201px;
                border-bottom-left-radius: 40px;
                background-color: transparent;
                border-left: 28px solid rgb(255, 232, 213);
                border-bottom: 6px solid rgb(255, 232, 213);
            }
            .shave {
                left: 7px;
                top: 200px;
                border-right: 18px solid transparent;
                border-bottom: 42px solid white;
            }
            .bottom {
                height: 27px;
                width: 9px;
                left: 42px;
                top: 245px;
                border-bottom-left-radius: 40px;
                background-color: transparent;
                border-left: 40px solid rgb(242, 189, 90);
                border-bottom: 34px solid rgb(242, 189, 90);
            }
            .piece {
                width: 10px;
                height: 89px;
                transform: rotate(-35deg);
                background-color: #fff;
                top: 225px;
                left: 33px;
            }
            .otherpiece {
                width: 10px;
                height: 62px;
                top: 169px;
                transform: rotate(-33deg);
                background-color: #FFE8D5;
                left: 46px;
            }
        }
        .skin1 {
            left: 190px;
            top: 110px;
            border-right: 5px solid transparent;
            border-left: 35px solid transparent;
            border-bottom: 43px solid #FFE8D5;
            width: 40px;
        }
        .skin2 {
            left: 30px;
            top: 110px;
            border-left: 5px solid transparent;
            border-right: 35px solid transparent;
            border-bottom: 43px solid #FFE8D5;
            width: 41px;
        }
        .skin3 {
            left: 76px;
            top: 110px;
            border-left: 35px solid transparent;
            border-right: 35px solid transparent;
            border-top: 43px solid #ffe8d5;
            width: 79px;
        }
        .skin4,
        .skin5 {
            width: 146px;
            height: 38px;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            background-color: #FFE8D5;
            top: 87px;
            left: 34px;
            transform: rotateX(40deg);
        }
        .skin5 {
            left: 135px;
            width: 131px;
        }
    }
    .face {
        background-color: rgb(255, 232, 213);
        width: 280px;
        height: 284px;
        border-radius: 200px;
        left: 10px;
        top: 40;
        box-shadow: inset -10px 0 rgb(254, 212, 178), inset 6px 0 #FFF6EE;
    }
    .nosey {
        width: 25px;
        height: 32px;
        background-color: rgb(255, 232, 213);
        top: 214;
        left: 152;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 50px;
        box-shadow: inset -4px -2px 0px 0px rgb(254, 212, 178);
    }
    .eyeball {
        top: 180px;
        &.eyeball-left {
            left: 95px;
        }
        &.eyeball-right {
            left: 195px;
        }
        .eb1,
        .eb2,
        .eb3,
        .eb4,
        .eb5,
        .eb6 {
            width: 6px;
            height: 6px;
        }
        .eb1 {
            background-color: #FFF;
        }
        .eb2,
        .eb3,
        .eb4,
        .eb5 {
            background-color: #94C6C8;
        }
        .eb2 {
            left: 6;
        }
        .eb3 {
            top: 6;
        }
        .eb4 {
            left: 12;
            top: 6;
        }
        .eb5 {
            left: 6;
            top: 12;
        }
        .eb6 {
            background-color: #000;
            left: 6;
            top: 6;
        }
    }
}

.shirt {
    width: 120px;
    height: 50px;
    left: 90px;
    top: 309px;
    background-color: #4C83B0;
    box-shadow: inset -8px 0 #1B5A8E, inset 4px 0 #6FA1CA;
}

.shorts {
    width: 110px;
    height: 30px;
    left: 95px;
    top: 359px;
    background-color: #7E3621;
    box-shadow: inset -8px 0 #61210E, inset 4px 0 #B2654E;
}
