#patwick * {
    position: absolute;
}

#patwick {
    position: relative;
    margin-left: 420px;
    .head {
        .hair {
            .curl {
                height: 28px;
                width: 18px;
                border-bottom-left-radius: 40px;
                background-color: transparent;
                border-left: 17px solid #926B22;
            }
            .curl1 {
left: 253px;
    top: 81px;
    transform: rotate(-76deg);
            }
            .curl2 {
                left: 18px;
                top: 74px;
                transform: rotate(87deg);
                height: 41px;
            }
            .curl3 {
                left: 141px;
                top: 21px;
                transform: rotate(-40deg);
            }
            .curl4 {
                left: 214px;
                top: 43px;
                transform: rotate(-66deg);
            }
            .curl5 {
top: 181px;
    left: 18px;
            transform: rotate(-23deg);
            }
            .curl6 {
                top: 262px;
                left: 241px;
                transform: rotate(-144deg) scale(-1);
            }
            .curl7 {
    top: 196px;
    left: 252px;
    transform: scaleY(-1) rotate(180deg);
            }
            .curl8 {
left: 272px;
    top: 182px;
    transform: rotate(-11deg);
            }
            .blau {
                top: 31px;
                left: 10px;
                width: 280px;
                height: 130px;
                border-top-left-radius: 200px;
                border-top-right-radius: 200px;
                transform: rotateX(30deg);
                background-color: #926B22;
            }
            .center {
                width: 10px;
                height: 10px;
            }
            .right-burn,
            .left-burn {
                left: 270px;
                top: 150px;
                width: 20px;
                height: 47px;
                background-color: #926B22;
            }
            .left-burn {
                left: 10px;
            }
            .left {
                width: 53px;
                height: 10px;
                background-color: #926B22;
                transform: rotate(45deg);
                top: 276px;
                left: 171px;
            }
            .right {
                width: 53px;
                height: 10px;
                background-color: #926B22;
                transform: rotate(-45deg);
                top: 276px;
                left: 85px;
            }
            .center {
                width: 55px;
                height: 10px;
                background-color: #926B22;
                top: 259px;
                left: 127px;
            }
        }
        .skin1 {
            left: 190px;
            top: 110px;
            border-right: 5px solid transparent;
            border-left: 35px solid transparent;
            border-bottom: 43px solid #FFE8D5;
            width: 40px;
        }
        .skin2 {
            left: 30px;
            top: 110px;
            border-left: 5px solid transparent;
            border-right: 35px solid transparent;
            border-bottom: 43px solid #FFE8D5;
            width: 41px;
        }
        .skin3 {
            left: 76px;
            top: 110px;
            border-left: 35px solid transparent;
            border-right: 35px solid transparent;
            border-top: 43px solid #ffe8d5;
            width: 79px;
        }
        .skin4,
        .skin5 {
            width: 146px;
            height: 38px;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            background-color: #FFE8D5;
            top: 87px;
            left: 34px;
            transform: rotateX(40deg);
        }
        .skin5 {
            left: 135px;
            width: 131px;
        }
    }
    .face {
        background-color: rgb(255, 232, 213);
        width: 280px;
        height: 284px;
        border-radius: 200px;
        left: 10px;
        top: 40;
        box-shadow: inset 0px -34px #926B22;
    }
    .nosey {
        width: 25px;
        height: 32px;
        background-color: rgb(255, 232, 213);
        top: 214;
        left: 152;
        border-bottom-left-radius: 14px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 50px;
        box-shadow: inset -4px -2px 0px 0px rgb(254, 212, 178);
    }
    .eyeball {
        top: 180px;
        &.eyeball-left {
            left: 95px;
        }
        &.eyeball-right {
            left: 195px;
        }
        .eb1,
        .eb2,
        .eb3,
        .eb4,
        .eb5,
        .eb6 {
            width: 6px;
            height: 6px;
        }
        .eb1 {
            background-color: #FFF;
        }
        .eb2,
        .eb3,
        .eb4,
        .eb5 {
            background-color: #94C6C8;
        }
        .eb2 {
            left: 6;
        }
        .eb3 {
            top: 6;
        }
        .eb4 {
            left: 12;
            top: 6;
        }
        .eb5 {
            left: 6;
            top: 12;
        }
        .eb6 {
            background-color: #000;
            left: 6;
            top: 6;
        }
    }
}

.shirt {
    width: 120px;
    height: 50px;
    left: 90px;
    top: 309px;
    background-color: #4C83B0;
    box-shadow: inset -8px 0 #1B5A8E, inset 4px 0 #6FA1CA;
}

.shorts {
    width: 110px;
    height: 30px;
    left: 95px;
    top: 359px;
    background-color: #7E3621;
    box-shadow: inset -8px 0 #61210E, inset 4px 0 #B2654E;
}
